<div class="bg-light">
  <div class="container py-0">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">За нас</h1>
      </div>
    </div>
  </div>
</div>


<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Печат върху керамика</h2>
        <p class="font-italic text-muted mb-4">Правим печат върху чаши, термоси и чинии с висококачествено мастило и уникален дизайн</p><a href="#" id="learnMoreButton1" class="btn btn-light px-5 rounded-pill shadow-sm">Научете повече</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/assets/images/cup1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="/assets/images/btc.jpg" alt="" class="img-fluid mb-4 mb-lg-0" style="width: 249px"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Щампи върху тениски</h2>
        <p class="font-italic text-muted mb-4">Интересен и оригинален дизай на крипто тениски</p><a href="#" id="learnMoreButton2" class="btn btn-light px-5 rounded-pill shadow-sm">Научете повече</a>
      </div>
    </div>
  </div>
</div>
