<div class="bootstrap-wrapper">
  <div class="container text-center mt">
    <h1>Welcome to CodeCups Admin Panel</h1>
    <a mat-raised-button routerLink="/v0/administration/dashboard/users" style="padding: 2em"> Users Administration </a>
    <a mat-raised-button routerLink="/v0/administration/dashboard/orders" style="padding: 2em"> Orders Administration </a>
    <a mat-raised-button routerLink="/v0/administration/dashboard/products" style="padding: 2em"> Products Administration </a>
  </div>

</div>
